body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    min-height: 100vh;
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }

  header h1 {
    margin: 0;
    font-weight: 500;
  }
  footer {
   
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .small-font {
    font-size: .5rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.navigation a {
  color: #333;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navigation a:hover {
  background-color: #333;
  color: #fff;
}

.invisible {
  opacity: 0;
  pointer-events: none;
  text-decoration: none;
  cursor: not-allowed;
}



